@page
@model AddDebtModel
@{
    ViewData["Title"] = "Add New Debt";
}

<h1 class="text-center">Add New Debt</h1>

<form method ="post">
    <div class="form-group">
        Debt Name: <input asp-for="NewDebt!.DebtName" />
    </div>
    <br />
    <div class="form-group">
        Debt Amount: <input asp-for="NewDebt!.DebtAmount" />
    </div>
    <br />
    <div class="form-group">
       Monthly Payment: <input asp-for="NewDebt!.MonthlyPayment" />
    </div>
    <br />
    <input type="submit" />
</form>